---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>

                    <br>

        <center>
        <a href="https://www.kickstarter.com/projects/catbiome/kittybiome-kitty-microbiomes-for-cat-health-and-bi" target="_blank">

        <button type="button" class="btn btn-default" aria-label="Left Align">
        Join the project
        </button>
        </a>

        <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#explainer">
        Watch the video
        </button>

        </center>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ content }}
        </div>
    </div>
</div>

<hr>


<div class="modal fade" id="explainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/EaEoSlcPImU?autoplay=1" frameborder="0" allowfullscreen></iframe>

    </div>
  </div>
</div>


